<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-bakaan-tim" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Tim</name>
    <js-module name="Tim" src="www/Tim.js">
        <clobbers target="Tim" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Tim">
                <param name="android-package" value="cordova.plugin.bakaan.tim.Tim" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
        <source-file src="src/android/Tim.java" target-dir="src/cordova/plugin/bakaan/tim" />
        <framework src="android-build.gradle" custom="true" type="gradleReference" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="Tim">
                <param name="ios-package" value="Tim" />
            </feature>
        </config-file>
        <header-file src="src/ios/Tim.h" />
        <source-file src="src/ios/Tim.m" />
    </platform>
</plugin>